
    <div id="divMensaje" style="" class=""><div class="border-1 recuadroGrisClaro paddingInterno-5 marginBottom-20" style="border:1px solid rgb(255,0,0);"><h3><img src="https://serviciosweb.afip.gob.ar/genericos/comprobantes/images/error.png" class="icon48 padding-10">Los caracteres ingresados no coinciden con la imagen.</h3></div></div>  
    <div id="divDetalle" style="display: block;" class=""></div>