---
---

<div id='azul'>
  <div class='container'>
    <div
      id='cbp-hrmenu'
      class='cbp-hrmenu'
    >
      <ul class='navSuperior'>
        <li>
          <div class='btnNavSimple'>
            <a
              class='btncbp'
              href='https://www.afip.gob.ar/denuncias/'
              >Denuncias</a
            >
          </div>
        </li>
        <li>
          <div class='btnNavSimple'>
            <a
              class='btncbp'
              href='https://serviciosweb.afip.gob.ar/genericos/guiaDeTramites/inicio.aspx'
              >Trámites</a
            >
          </div>
        </li><!--
                -->
        <li>
          <div class='btnNavSimple'>
            <a
              class='btncbp'
              href='https://serviciosweb.afip.gob.ar/Publico/Turnos/Turnos.aspx'
              >Turnos</a
            >
          </div>
        </li><!--
                -->
        <li>
          <div class='btnNavSimple'>
            <a
              class='btncbp'
              href='http://www.afip.gob.ar/dependencias/'
              >Dependencias</a
            >
          </div>
        </li><!--
                -->
        <li id='btnSupCF'>
          <div class='btnNavSimple'>
            <a
              class='btncbp'
              href='https://auth.afip.gob.ar/contribuyente/'
              >Clave Fiscal</a
            >
          </div>
        </li>
        <!--<li>
                    <div class="btnNavSimple">
                        <a class="btncbp" href="https://serviciosweb.afip.gob.ar/genericos/prensa/">Prensa</a>
                    </div>
                </li>-->
        <li class='iconosAccBarraSuperior'>
          <a
            href='https://twitter.com/afipcomunica'
            target='_blank'
            rel='noopener noreferrer'
          >
            <img
              src='//www.afip.gob.ar/sitio/images/redesSociales/AFIPtwitter.jpg'
              alt='Twitter'
              style='margin-right:5px; margin-left:5px; cursor:pointer'
              title='AFIP en Twitter'
            />
          </a>
          <a
            href='https://www.youtube.com/channel/UCe0zC5Uf5U1YDDMF3_W-97A'
            target='_blank'
            rel='noopener noreferrer'
          >
            <img
              src='//www.afip.gob.ar/sitio/images/redesSociales/AFIPyoutube.jpg'
              alt='YouTube'
              style='margin-right:5px; cursor:pointer'
              title='AFIP en YouTube'
            />
          </a>
          <a
            href='https://es-la.facebook.com/AFIPComunica/'
            target='_blank'
            rel='noopener noreferrer'
          >
            <img
              src='//www.afip.gob.ar/sitio/images/redesSociales/AFIPfacebook.jpg'
              alt='Facebook'
              style='margin-right:5px; cursor:pointer'
              title='AFIP en Facebook'
            />
          </a>
          <a
            href='https://www.instagram.com/afipcomunica/'
            target='_blank'
            rel='noopener noreferrer'
          >
            <img
              src='//www.afip.gob.ar/sitio/images/redesSociales/AFIPinstagram.jpg'
              alt='Instagram'
              style='margin-right:5px; cursor:pointer'
              title='AFIP en Instagram'
            />
          </a>
          <a
            href='https://es.linkedin.com/company/afip'
            target='_blank'
            rel='noopener noreferrer'
          >
            <img
              src='//www.afip.gob.ar/sitio/images/redesSociales/AFIPlinkedin.jpg'
              alt='LinkedIn'
              style='margin-right:10px; cursor:pointer'
              title='AFIP en LinkedIn'
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id='header'>
  <div class='container'>
    <div class='units-row margin-0 hidden'>
      <div class='width-100'>
        <a
          id='AFIP'
          href='http://www.afip.gob.ar/sitio/externos/'
          ><img
            src='//www.afip.gob.ar/sitio/images/afip.png'
            class='logoAFIP'
            alt='Logo AFIP'
          /></a
        >
        <div class='partesAFIP'>
          <a
            href='http://www.afip.gob.ar/sitio/externos/institucional/impositiva'
            >Impositiva</a
          >
          <a href='http://www.afip.gob.ar/sitio/externos/institucional/aduana'
            >Aduana</a
          >
          <a
            href='http://www.afip.gob.ar/sitio/externos/institucional/seguridadSocial'
            >Seguridad Social</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div id='menuContainer'>
  <div class='container'>
    <div id='cssmenu'>
      <div id='menu-button'>Menu</div>
      <ul>
        <li>
          <a
            href='https://serviciosweb.afip.gob.ar/genericos/comprobantes/Default.aspx'
            >INICIO</a>
        </li>
        <li>
          <a
            href='https://serviciosweb.afip.gob.ar/genericos/comprobantes/cai.aspx'
            >Comprobantes con CAI</a>
        </li>
        <li>
          <a
            href='https://serviciosweb.afip.gob.ar/genericos/comprobantes/sincai.aspx'
            >Comprobantes sin CAI</a>
        </li>
        <li>
          <a
            href='https://serviciosweb.afip.gob.ar/genericos/comprobantes/cae.aspx'
            >Comprobantes con CAE</a>
        </li>
        <li class='ultimo'>
          <a
            href='https://serviciosweb.afip.gob.ar/genericos/comprobantes/caea.aspx'
            >Comprobantes con CAEA</a>
        </li>
      </ul>
    </div>
  </div>
</div>
